* {
   font-family: 'Arial', sans-serif;
   touch-action: none;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration-line: none;
   font-weight: bold;
   color: black;
   cursor: pointer;
}

#game-container {
   height: 100dvh;
   width: 100dvw;
   padding: 5px;

   display: grid;
   grid-template-rows: 110px 1fr;
   gap: 5px;
}

header {
   display: grid;
   grid-template-rows: 50px 60px;
}

header>div {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   gap: 15px;
}

h1 {
   height: 100%;
   padding: 5px;
   text-align: center;
}

#level,
#moves {
   font-size: 26;
   font-weight: bold;

}



#panel-start,
#panel-finished {
   z-index: 99;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #ffffff4d;
   backdrop-filter: blur(5px);

   display: flex;
   justify-content: center;
   align-items: center;
}

#panel-finished {
   padding-top: 20px;
   background: #00000086;
   justify-content: flex-start;
   display: flex;
   flex-direction: column;
   color: white;
   gap: 20px;
   visibility: hidden;
}

#panel-finished>h2 {
   font-size: 16px;
   padding-inline: 35px;
   font-weight: 700;
}

#panel-finished>a {
   color: white;
}

#btn-start {
   border: 2px solid black;
   height: 40px;
   width: 150px;
   background-color: #00d100;
   border-radius: 10px;
   font-weight: 900;
}

#root {
   width: 100%;
   height: 100%;
   position: relative;

   display: grid;
   grid-template-rows: 1fr 60px;

   background-color: #191919;
   border-radius: 10px;
}

/* index.css */
#place {
   width: 100%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;

   /* ASEGÚRATE DE QUE ESTAS LÍNEAS ESTÉN COMENTADAS O ELIMINADAS */
   /* perspective: 2000px; */
   /* transform-style: preserve-3d; */
   /* perspective-origin: center; */
}

#btn-rotate,
#btn-reset-level,
#btn-reset-game {
   z-index: 8;
   position: absolute;
   top: 10px;
   right: 10px;
   width: 50px;
   height: 50px;
   background-image: url("./images/btn-rotate.gif");
   background-size: cover;
   border: 1px solid #f50000;
   box-shadow: 0px 2px 0px 0px #c40000;
   background-color: transparent;
   background-color: white;
   border-radius: 100%;
}

#btn-rotate:active {
   border: 1px solid #f50000;
   box-shadow: none;
}

#btn-reset-level {
   top: 70px;
   background-image: none;
   font-weight: 900;
   border-radius: 20%;
}

#btn-reset-game {
   top: 130px;
   background-image: none;
   font-weight: 900;
   border-radius: 20%;
}

#options-move-container {
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 5px;
   padding: 5px;
}

/*******************/
/*   option move   */
/*******************/

.option-move {
   user-select: none;
   -webkit-tap-highlight-color: transparent;

   display: flex;
   align-items: center;
   justify-content: center;

   height: 40px;
   width: 100%;
   text-align: center;
   text-wrap: nowrap;

   border-radius: 8px;
   background-color: darkgray;
   border: 2px solid dimgray;
   font-weight: bold;
   color: black;
   font-size: 16px;
   cursor: pointer;
   transition: all 0.3s ease;
   box-shadow: 0 2px 2px 0 #565656;
}

.option-move input[type="radio"] {
   display: none;
}

.option-move:hover {
   background-color: #717171;
   border-color: #000000;
   color: black;
   font-weight: 900;
}

.option-move input[type="radio"]:checked+span {
   font-weight: bold;
   color: black;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #28a745;
   border-color: #11ff46;
   border-radius: 6px;
}

#tail-1 {
   border-radius: 15px 0 0 0;
}

#tail-5 {
   border-radius: 0 15px 0 0;
}

#tail-21 {
   filter: grayscale(80%);
   border-radius: 0 0 0 15px;
}

#tail-22 {
   filter: grayscale(80%);
}

#tail-23 {
   background-color: black;
}

#tail-24 {
   filter: grayscale(80%);
}

#tail-25 {
   filter: grayscale(80%);
   border-radius: 0 0 15px 0;
}







#shield,
#shield-shadow,
#shield-on {
   background-image: url('./images/shield.png');
   background-size: cover;
}


/*///////////////*/
/*     pj        */
/*///////////////*/
#sword-on,
#shield-on {
   /* background-color: #426593; */
   border-radius: 100%;
   width: 90%;
   height: 90%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#sword-on {
   background-size: cover;
   background-repeat: no-repeat;
   top: 0px;
   left: 0px;
}

#sword-content-shadow,
#shield-content-shadow {
   border-radius: 100%;
   width: 90%;
   height: 90%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}

#sword-on2,
#shield-on2,
#key-on {
   display: inline;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: rotateZ(90deg);
   background-image: url("./images/key.png");
   filter: grayscale(0%);
   background-position-x: -6px;
   background-color: #fdf739;
   padding: 8px;
   width: 40px;
   padding: 5px;
   border-radius: 8px;
   padding-inline: 5px;
   margin-inline: 5px;
}

#sword-on2 {
   background-image: url("./images/sword.png");
}

#shield-on2 {
   background-image: url("./images/shield.png");
}

#sword-shadow,
#shield-shadow {
   @supports (background-clip:text) or (-webkit-background-clip:text) {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-color: #0f0f0f;
   }
}