:root {
   
}

* {
   touch-action: none;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#game-container {
   display: grid;
   grid-template-rows: 30px 35px 50px 1fr;
   gap: -5px;
}

h1 {
   text-align: center;
   background-color: transform-style;
}

#count {
   font-size: 26;
   font-weight: bold;
   margin: 10px;
}

#options-move-container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: rows;
   justify-content: center;
   gap: 5px;
}

#container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   perspective: 2000px;
   transform-style: preserve-3d;
   perspective-origin: center;
   border: 1px solid red;
}

#wd {
   position: relative;
   z-index: 10;
   transform: perspective(750px) rotateX(0deg);
   border-radius: 20px;
   border: 5px solid #000000;
   height: 256px;
   width: 256px;
   padding: 0px;

   perspective: 2000px;
   transform-style: preserve-3d;
   perspective-origin: center;

   display: grid;
   place-content: center;
   place-items: center;
   grid-template-columns: repeat(5, 50px);
   grid-template-rows: repeat(4, 50px);
}

#wd-1 {
   border-radius: 15px 0 0 0;
}

#wd-5 {
   border-radius: 0 15px 0 0;
}

#wd-21 {
   background-color: black;
   border-radius: 0 0 0 15px;
}

#wd-22 {
   background-color: black;
}

#wd-23 {
   background-color: black;
}

#wd-24 {
   background-color: black;
}

#wd-25 {
   background-color: black;
   border-radius: 0 0 15px 0;
}

#wd2 {
   position: absolute;
   z-index: 1;
   transform: perspective(750px) rotateX(70deg);
   top: 50px;
   padding: 2px;
   scale: 0.95;
   border-radius: 20px;
   box-shadow: 0 0 3px 5px #2a2a2a;
   background-color: #2a2a2a;
   border: 5px solid #2a2a2a;
   opacity: 0.3;
   height: 202px;
   width: 252px;
}

.floor {
   width: 50px;
   height: 50px;
   box-shadow: inset 2px 2px 3px 2px #2e2e2e, inset -2px -2px 3px 2px #777777;
   background-image: url('./images/floor.png');
   background-size: cover;
}









#shield,
#shield-shadow,
#shield-on {
   background-image: url('./images/shield.png');
   background-size: cover;
}


/*///////////////*/
/*     pj        */
/*///////////////*/

#pj #sword-on {
   background-color: red;
   border-radius: 100%;
   width: 90%;
   height: 90%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#pj #shield-on {
   background-color: #5e2100;
   border-radius: 100%;
   width: 90%;
   height: 90%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#sword-content-shadow,
#shield-content-shadow {
   border-radius: 100%;
   width: 90%;
   height: 90%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}

#sword-shadow,
#shield-shadow {
   @supports (background-clip:text) or (-webkit-background-clip:text) {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-color: #0f0f0f;
   }
}

/*******************/
/*   option move   */
/*******************/

.option-move {
   user-select: none;
   -webkit-tap-highlight-color: transparent;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   height: 40px;
   width: 100%;
   text-align: center;
   text-wrap: nowrap;

   border-radius: 8px;
   background-color: #DAA520;
   border: 2px solid #B8860B;
   font-weight: bold;
   color: #fff;
   font-family: 'Arial', sans-serif;
   font-size: 16px;
   cursor: pointer;
   transition: all 0.3s ease;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.option-move input[type="radio"] {
   display: none;
}

.option-move:hover {
   background-color: #C1941F;
   border-color: #A0780A;
   color: black;
   font-weight: 900;
}

.option-move input[type="radio"]:checked+span {
   font-weight: bold;
   color: black;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #28a745;
   border-color: #218838;
   border-radius: 6px;
}

.option-move input[type="radio"]:checked~span {
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background-color: #28a745;
   border-color: #218838;
}


.option-move input[type="radio"]:checked+label {
   color: black;
   background-color: #28a745;
   border-color: #218838;
}

/*******************/
/*     hoyo    */
/*******************/

#hoyo1,
#hoyo2 {
   width: 50px;
   height: 50px;
   background-image: url('./images/hoyo.png');
}