* {
   font-family: 'Arial', sans-serif;
   /* touch-action: none; */
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#game-container {
   height: 100dvh;
   width: 100dvw;
   padding: 5px;

   display: grid;
   grid-template-rows: 90px 1fr;
   gap: 5px;
}

header {
   display: grid;
   grid-template-rows: 50px 40px;
}

h1 {
   height: 100%;
   padding: 5px;
   text-align: center;
}

#level {
   font-size: 26;
   font-weight: bold;
   margin: 10px;
}

#root {
   width: 100%;
   height: 100%;

   display: grid;
   grid-template-rows: 1fr 60px;

   background-color: #191919;
   border-radius: 10px;
}

#place {
   width: 100%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;

   perspective: 2000px;
   transform-style: preserve-3d;
   perspective-origin: center;

}

#options-move-container {
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 5px;
   padding: 5px;
}

/*******************/
/*   option move   */
/*******************/

.option-move {
   user-select: none;
   -webkit-tap-highlight-color: transparent;

   display: flex;
   align-items: center;
   justify-content: center;

   height: 40px;
   width: 100%;
   text-align: center;
   text-wrap: nowrap;

   border-radius: 8px;
   background-color: darkgray;
   border: 2px solid dimgray;
   font-weight: bold;
   color: black;
   font-size: 16px;
   cursor: pointer;
   transition: all 0.3s ease;
   box-shadow: 0 2px 2px 0 #565656;
}

.option-move input[type="radio"] {
   display: none;
}

.option-move:hover {
   background-color: #717171;
   border-color: #000000;
   color: black;
   font-weight: 900;
}

.option-move input[type="radio"]:checked+span {
   font-weight: bold;
   color: black;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #28a745;
   border-color: #11ff46;
   border-radius: 6px;
}

#content-tail {
   position: relative;
   z-index: 10;
   transform: perspective(750px) rotateX(0deg);
   border-radius: 20px;
   border: 5px solid #bab2b2;
   height: 256px;
   width: 256px;
   padding: 0px;

   perspective: 2000px;
   transform-style: preserve-3d;
   perspective-origin: center;

   display: grid;
   place-content: center;
   place-items: center;
   grid-template-columns: repeat(5, 50px);
   grid-template-rows: repeat(4, 50px);
}

.tail {
   width: 50px;
   height: 50px;
   box-shadow: inset 2px 2px 3px 2px #2e2e2e, inset -2px -2px 3px 2px #777777;
   background-image: url('./images/floor.png');
   background-size: cover;
}

#tail-1 {
   border-radius: 15px 0 0 0;
}

#tail-5 {
   border-radius: 0 15px 0 0;
}

#tail-21 {
   background-color: black;
   border-radius: 0 0 0 15px;
}

#tail-22 {
   background-color: black;
}

#tail-23 {
   background-color: black;
}

#tail-24 {
   background-color: black;
}

#tail-25 {
   background-color: black;
   border-radius: 0 0 15px 0;
}







#shield,
#shield-shadow,
#shield-on {
   background-image: url('./images/shield.png');
   background-size: cover;
}


/*///////////////*/
/*     pj        */
/*///////////////*/

#pj #sword-on {
   background-color: red;
   border-radius: 100%;
   width: 90%;
   height: 90%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#pj #shield-on {
   background-color: #5e2100;
   border-radius: 100%;
   width: 90%;
   height: 90%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#sword-content-shadow,
#shield-content-shadow {
   border-radius: 100%;
   width: 90%;
   height: 90%;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}

#sword-shadow,
#shield-shadow {
   @supports (background-clip:text) or (-webkit-background-clip:text) {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-color: #0f0f0f;
   }
}